body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    background-color: red;
    margin: 2px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    z-index: 1;
}

#titulo {
    text-align: center;
}

#minha_foto {
    position: absolute;
    top: 150px;
    width: 200px;
    left: 3%;
    z-index: 2;
}

#licoes_aprendidas {
    position: absolute;
    top: 380px;
}

#licoes_a_aprender {
    position: absolute;
    top: 600px;
}