* {
    margin: 0;
    padding: 0;
} 

.bold {
    font-weight: bold;
}

body {
    background-color: rgb(253, 251, 251);
    font-family: 'Comic Neue', cursive;
    color: #11144C;
    line-height: 1.5;
    text-align: center;
}

header {
    background-color: #FDFAF6;
}

#cabecalho {
    position: fixed;
    background-color: #FDFAF6;
    text-align: center;
    top: 0;
    width: 100%;
    height: 10%;
    color: #064420;
}

ul li a {
    text-decoration: none;
    color: #064420;
    font-size: 18px;
}

ul li a:hover {
    transition: font-size .5s;
    color: white;
    background-color: #346751;
    margin: 8% auto;
    padding: 8px;
    border-radius: 35%;
    display: block;
    width: 100%;
    font-weight: 700;
    text-align: center;
}

#titulo {
    text-align: center;
}

nav {
    background-color: #FDFAF6;
}

.navegacao li {
    background-color: #FDFAF6;
    margin-top: 50%;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    margin: 0 10%;
    color: #064420;
    align-items: center;
    text-decoration: none;
}

main {
    margin-top: 130px; 
    margin-bottom: 300px;
}

.lado-esquerdo {
    float: left;
    width: 40%;
    text-align: center;
    margin-left: 10%;
}

.lado-direito {
    float: right;
    width: 40%;
    text-align: center;
}

#link {
    text-decoration: none;
    line-height: 15px;
    background-color: #346751;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    display: block;
    width: 60px;
    color: blanchedalmond;
    font-weight: 700;
}

#link:hover {
    text-decoration: underline;
    font-size: 20px;
}

main div.lista {
    text-align: center; 
}

#minha_foto {
    width: 200px;
    height: 250px;
    margin:  1%;
    border-radius: 10% 5%;
    border: solid;
    vertical-align: top;
    border-color: #082032;
    border-width: 10px;
    border-style: double;
    }

#licoes_aprendidas {
    display: inline-block;
    width: 200px;
    height: 300px;
    vertical-align: top;
}

#licoes_a_aprender {
    display: inline-block;
    width: 200px;
    height: 300px;
    vertical-align: top;
}

#video {
    display:block;
    text-decoration: none;
}

#rodape {
    background-color: #FDFAF6;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 150px;
    line-height: 1.5;
    color: #064420;
}